@charset "UTF-8";
body {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #ffffff;
}

.balloon {
  position: relative;
  background: #fad296;
  border-radius: 20px;
  padding: 20px;
  width: 500px;
  font-size:16px;
  border: solid 5px #8f5a0a;
}

.balloon::before,
.balloon::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: solid transparent;
  border-right: solid transparent;
  z-index: 1;
}

.balloon::after {
  bottom: -20px;
  border-left-width: 20px;
  border-right-width: 20px;
  border-top: 28px solid #fad296;
}

.balloon::before {
  bottom: -25px;
  border-left-width: 16px;
  border-right-width: 16px;
  border-top: 22px solid #8f5a0a;
}